<mat-label class="mat-card-title">Save playlist</mat-label>
<form (ngSubmit)="savePlaylist()" [formGroup]="form" class="save-form">
  <mat-form-field class="form-input">
    <mat-label>Email</mat-label>
    <input
      [errorStateMatcher]="matcher"
      formControlName="email"
      matInput
      placeholder="name@example.com"
      type="email"
    />
    <mat-error
      *ngIf="
        form.get('email').hasError('pattern') &&
        !form.get('email').hasError('required')
      "
    >
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="form.get('email').hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-input">
    <mat-label>Playlist name</mat-label>
    <input [errorStateMatcher]="matcher" formControlName="name" matInput />
    <mat-error *ngIf="form.get('name').hasError('required')">
      Playlist name is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="form.get('name').hasError('minlength')">
      Playlist name is <strong>too short (min 3)</strong>
    </mat-error>
    <mat-error *ngIf="form.get('name').hasError('maxlength')">
      Playlist name is <strong>too long (max 15)</strong>
    </mat-error>
  </mat-form-field>
  <mat-progress-bar *ngIf="isSaving" mode="indeterminate"></mat-progress-bar>
  <div class="form-buttons">
    <button (click)="this.dialogRef.close()" mat-button type="reset">
      CANCEL
    </button>
    <button mat-button type="submit">SAVE</button>
  </div>
</form>
