<div>
  <a mat-button routerLink="/">
    <mat-icon>navigate_before</mat-icon>
    Go back to main page</a
  >
</div>

<mat-card>
  <mat-card-title>
    <img
      alt="Krystian Janiec"
      class="avatar"
      matCardAvatar
      src="./assets/me/me.jpg"
    />
    Krystian Janiec
  </mat-card-title>
  <mat-card-content>
    <p>Hello,</p>
    <p>I am frontend developer currently working for Delloite CE in Rzeszów.</p>
    <p>
      After 5 years of University and total 4 years work for Capgemini and
      Deloitte I can say, that I am proficient in Angular and
      TypeScript/JavaScript.
    </p>
    <p>
      I have knowledge of Java with SpringBoot as I have worked for over 3 years
      as fullstack developer in project for public sector.
    </p>
    <p>
      Also I have general knowledge about using git, Jira, Azure DevOps and
      Jenkins.
    </p>
    <p>
      You can contact me via
      <a href="https://www.linkedin.com/in/janiec-krystian/">LinkedIn</a> or
      <a href="mailto:janiec.krystian@gmail.com">email</a>.
    </p>
  </mat-card-content>
</mat-card>
