.mat-primary {
  height: 50px;

  .title {
    cursor: pointer;
    margin-left: 50px;
    display: flex;
    align-items: center;
  }

  .buttons {
    display: flex;
    margin-left: auto;

    .about-ico {
      margin-left: 20px;
      cursor: pointer;
      margin-right: 50px;
    }
  }
}
