<ng-container *ngIf="trackList$ | async as tracks">
  <mat-card class="search-container">
    <mat-form-field class="example-form-field">
      <mat-label>Search</mat-label>
      <input
        (input)="find(query)"
        (keyup.enter)="find(query)"
        [(ngModel)]="query"
        matInput
        type="text"
      />
    </mat-form-field>
    <mat-progress-bar
      *ngIf="isLoading$ | async"
      mode="indeterminate"
    ></mat-progress-bar>
    <app-track-information
      (click)="addToPlaylist(track.id); $event.stopPropagation()"
      *ngFor="let track of tracks"
      [isSearch]="true"
      [track]="track"
    >
    </app-track-information>

    <div *ngIf="!tracks || tracks.length === 0" class="empty-message">
      <div class="three-notes-icon">
        <mat-icon>music_note</mat-icon>
        <mat-icon>music_note</mat-icon>
        <mat-icon>music_note</mat-icon>
      </div>
      <span>Type in your favorite artist or song</span>
    </div>

    <div (click)="getNext()" *ngIf="tracks.length > 0" class="more-button">
      <span>MORE </span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </mat-card>
</ng-container>
