<div [class.mobile-visible]="playlistVisible" class="playlist-container">
  <app-my-tracklist (visible)="showPlaylist()"></app-my-tracklist>
  <app-search></app-search>
  <button
    (click)="showPlaylist()"
    class="show-playlist-button"
    color="primary"
    mat-raised-button
  >
    Playlist ({{ playlistSize$ | async }})
  </button>
  <button
    (click)="savePlaylist()"
    *ngIf="playlistSize$ | async"
    class="save-playlist-button"
    color="primary"
    mat-raised-button
  >
    Save
    <mat-icon>save_alt</mat-icon>
  </button>
</div>
