.playlist-container {
  display: flex;
  flex-direction: row;
  height: 600px;
  margin: auto;
  width: 95%;
  position: relative;

  app-my-tracklist {
    height: 600px;
    width: 35%;
    overflow-y: auto;
  }

  app-search {
    height: 600px;
    margin-left: auto;
    width: 50%;
    overflow-y: auto;
  }

  .save-playlist-button {
    position: absolute;
    height: fit-content;
    bottom: 20px;
    right: 20px;
  }

  .show-playlist-button {
    display: none;
  }

  @media (max-width: 600px) {
    &.mobile-visible {
      app-search {
        display: none;
      }

      app-my-tracklist {
        margin: auto;
        width: 95%;
      }

      .show-playlist-button {
        display: none;
      }

      .save-playlist-button {
        left: 20px;
      }
    }
    &:not(.mobile-visible) {
      app-search {
        margin: auto;
        width: 95%;
      }

      app-my-tracklist {
        display: none;
      }

      .show-playlist-button {
        position: absolute;
        height: fit-content;
        bottom: 70px;
        right: 20px;
        display: block;
      }
    }
  }
}
