.track-info {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-self: center;
  align-items: center;
  border-bottom: 1px solid gray;

  img {
    border-radius: 50%;
  }

  .track-description {
    flex-direction: column;
    margin-left: 10px;
  }

  .title {
    font-size: large;
  }

  .artist {
    font-size: medium;
  }

  .icons-container {
    display: inherit;
    margin-left: auto;

    &.hidden {
      display: none;
    }

    .play-button {
      cursor: pointer;
    }

    .remove-ico {
      cursor: pointer;
      margin-left: 5px;
    }
  }
}
