/* You can add global styles to this file, and also import other style files */
html,
body {
  height: auto;
  min-width: 320px;
}

body {
  margin: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
