<ng-container *ngIf="myTracks$ | async as tracks">
  <mat-card class="my-tracks">
    <mat-card-title
      >Your playlist
      <mat-icon (click)="visible.emit()" class="close-modal">close </mat-icon>
    </mat-card-title>
    <app-track-information
      *ngFor="let track of tracks"
      [track]="track"
    ></app-track-information>
    <div *ngIf="!tracks || tracks.length === 0" class="empty-message">
      <div class="three-notes-icon">
        <mat-icon>music_note</mat-icon>
        <mat-icon>music_note</mat-icon>
        <mat-icon>music_note</mat-icon>
      </div>
      <span>Add your songs</span>
    </div>
  </mat-card>
</ng-container>
