.my-tracks {
  display: flex;
  flex-direction: column;
  min-height: 568px;

  mat-card-title {
    font-size: large;
    display: flex;

    .close-modal {
      display: none;
    }

    @media (max-width: 600px) {
      .close-modal {
        display: inherit;
        margin-left: auto;
        cursor: pointer;
      }
    }
  }

  .empty-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: auto;
  }
}
